body{
  text-align: center;
}
h1{color: white;
  background: #000;
}
.mainContent{
  width: 100%;
}
.theMap{
  width: 80%;
  height: 200px;
  background: mistyrose;
  float: left;
}
.theUsers{
  width: 20%;
  height: 200px;
  background: lightblue;
  float: left;
}